@import './style.css';

/* Testes */
@media screen and (max-width: 1300px) {
    .hero .top_half {
        font-size: 16px;
    }
}

/* CELULAR  */
@media screen and (max-width: 425px) {
    main {
        grid-template-rows: 516px auto;
    }
    main>.cards_content {
        overflow: visible;
    }
    main .cards_content .cards {
        flex-direction: column;
    }
    .arq {
        width: 100%;
        height: 516px;
    }
    .arq h1 {
        font-size: 3rem;
    }
    main .cards_content .scroll_slide {
        display: none;
    }
}

/* COMPUTADOR */