.fifth {
  padding: 8rem;
  font-size: 1.25rem;
}

.titulo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.subtitulo {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.imagens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.imagens p {
  width: fit-content;
  margin-inline: auto;
  display: block;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.img img {
  height: 500px;
  border-radius: 1rem;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.center {
  margin-inline: auto;
  width: fit-content;
}

.referencias p {
  margin-bottom: 1rem;
  word-break: break-all;
}

@media screen and (max-width: 1200px) {
  .fifth {
    padding: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .fifth {
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .img img {
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .img img {
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .img img {
    height: 250px;
  }
}

@media screen and (max-width: 300px) {
  .img img {
    height: 200px;
  }
}
