.forth {
  line-height: 1.5;
  font-size: 1.25rem;
}

#introduction .title {
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin-bottom: 1.7rem;
}

.paragraf {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
}

#introduction .paragraf p {
  text-indent: 4rem;
  width: auto;
}

#introduction .paragraf-2 {
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#introduction .paragraf-2 p {
  width: auto;
}

#govern .img-politica img {
  height: 25rem;
}

.content-ul {
  display: flex;
  justify-content: start;
  padding-top: 2rem;
}

.content-li {
  padding: 0.3rem;
}

.title-three {
  display: flex;
  justify-content: start;
  font-style: italic;
  padding-top: 1.5rem;
}

.title-three h4 {
  width: auto;
  padding-top: 1rem;
  text-align: center;
}

.para-main {
  text-indent: 4rem;
  padding-top: 2rem;
  text-align: justify;
}

#constituicao .img-book {
  width: 42rem;
  padding-top: 2rem;
}

.figure-text {
  text-align: center;
  font-size: 16px;
}

#sociais .title-three h3 {
  display: flex;
  justify-content: center;
}

#sociais .img-lula {
  width: 50%;
  padding-top: 1.5rem;
  border-radius: 0.5rem;
}

#sociais .p-lula {
  width: 60%;
  text-align: center;
  padding-top: 1.2rem;
  font-size: 16px;
}

#pressao .img-popu {
  width: 42rem;
}

#referencias .paragraf-text {
  width: auto;
  text-align: justify;
  margin: 0 auto;
  padding: 1rem;
}

.section-space {
  padding: 2rem 8rem 0;
}

.forth .center {
  display: flex;
  justify-content: center;
}

#govern .paragraf {
  align-items: center;
  gap: 2rem;
  max-width: 45rem;
}

.img-politica {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.img-politica img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.content-father {
  display: flex;
  gap: 4rem;
  justify-content: space-around;
}

.components {
  padding: 0 20%;
  font-size: 16px;
}

@media (max-width: 1220px) {
  .content-father {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .section-space {
    padding: 2.5rem;
  }

  .forth p,
  h5 {
    font-size: 0.8rem;
  }

  .title-three h3,
  h4 {
    font-size: 1rem;
  }

  #introduction .title h1 {
    font-size: 1.2rem;
  }

  #govern .img-politica img {
    height: auto;
  }

  #sociais .img-lula {
    width: auto;
  }

  #sociais .p-lula {
    width: auto;
    font-size: 0.8rem;
  }

  #constituicao .img-book {
    width: auto;
  }

  #constituicao .figure-text {
    font-size: 0.8rem;
  }

  #pressao .img-popu {
    width: auto;
  }

  .img-politica {
    flex-direction: column;
  }
}
