.forth {
  line-height: 1.5;
  font-size: 1.25rem;
}

#introduction .title {
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin-bottom: 1.7rem;
}

.paragraf {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
}

#introduction .paragraf p {
  text-indent: 4rem;
  width: auto;
}

#introduction .paragraf-2 {
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#introduction .paragraf-2 p {
  width: auto;
}

.content-ul {
  display: flex;
  justify-content: start;
  padding-top: 2rem;
}

.content-li {
  padding: 0.3rem;
}

.title-three {
  display: flex;
  justify-content: start;
  font-style: italic;
  padding-top: 1.5rem;
}

.title-three h4 {
  width: auto;
  padding-top: 1rem;
  text-align: center;
}

.para-main {
  text-indent: 4rem;
  padding-top: 2rem;
  text-align: justify;
}

#sociais .title-three h3 {
  display: flex;
  justify-content: center;
}

#referencias .paragraf-text {
  width: auto;
  text-align: justify;
  margin: 0 auto;
  padding: 1rem;
}

.section-space {
  padding: 2rem 8rem 0;
}

.forth .center {
  display: flex;
  justify-content: center;
}

#govern .paragraf {
  align-items: center;
  gap: 2rem;
  max-width: 45rem;
}

#govern .para-main {
  padding-top: 0;
}

#govern .img-politica {
  height: 25rem;
  width: 30rem;
}

.img-politica {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.img-politica img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.content-father {
  display: flex;
  gap: 4rem;
  justify-content: space-around;
}

.components {
  padding: 0 20%;
  font-size: 16px;
}

@media (max-width: 1220px) {
  .content-father {
    flex-direction: column;
  }

  #govern .img-politica {
    width: 100%;
  }
}
