@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.third section div:not(.foto-legenda) {
  padding: 8rem;
}

.third h1,
.third h4 {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5rem;
}
.third p {
  font-size: 1.3rem;
  text-align: justify;
  color: black;
}
.third div {
  margin: 0;
  width: 100%;
}

.conteudo {
  display: flex;
  gap: 5rem;
}

.imagem-gp-3 {
  height: 450px;
  width: fit-content;
}

.referencias p {
  margin-bottom: 1em;
  font-size: 1.3rem;
}

.cabecalho p {
  margin-bottom: 0.5em;
  text-align: left;
}
.foto-legenda p{
  text-align: center;
  font-size: 1.1rem;
  padding-top: 10px;
}


@media (max-width: 1350px) {
  .conteudo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 965px){
  .imagem-responsiva{
    height: auto;
    width: 80%;
  }
}

@media(max-width:825px){
  .imagem-responsiva{
    height: auto;
    width: 90%;
  }
}

@media(max-width:585px){
  .imagem-responsiva{
    height: auto;
    width: 95%;
  }
}

@media(max-width:748px){
  .imagem-gp-3{
    height: auto;
    width:85%;
  }
}

@media(max-width:480px){
  .third h1, h4{
    font-size: 1.2rem;
  }
  .cabecalho h4{
    font-size: 1.2rem;
  }
  .third p, .referencias p, .cabecalho p{
    font-size: 0.8rem;
    text-align: left;
  }
  .foto-legenda p{
    font-size: 0.8rem;
    text-align: center;
  }
  .third section div:not(.foto-legenda) {
    padding: 2.5rem;
  }
}