/* Estado Propaganda Estilos */

/* .container-estado-propaganda {
   margin: 0;
   background-size: cover;
   position: relative;
} */

/* .background_one {
   background-image: url(../midia/grupo_1/getulio-vargas.jpg);
}

.background_two {
   background-image: url(../midia/grupo_1/imprensa.jpg);
}

.background_three {
   background-image: url(../midia/grupo_1/PIB.jpg);
}

.background_four {
   background-image: url(../midia/grupo_1/imprensa.jpg);
} */

.color_white {
   /* color: white; */
   word-spacing: 0.3rem;
   line-height: 1.5rem;
}

.color_white p {
   font-size: 1.3rem;
}


.title-img-container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   flex-wrap: wrap;
   justify-items: center;
   align-items: center;
}

.center-img {
   margin: 0 auto;
}

.title-estado-propaganda {
   font-size: 2rem;
   font-weight: 500;
   line-height: 3rem;
}

.title-estado-propaganda1 {
   font-size: 2rem;
   font-weight: 600;
   text-align: center;

}

.title-estado-propaganda_h2 {
   font-size: 1.7rem;
   font-weight: 500;
}

.ul-lis-style {
   list-style: inside;
}

.size-img {
   border-radius: 9px;
}

.size-img-2:nth-child(2) {
   width: 60%;
}

.size-img2-:nth-child(2) {
   width: 60%;
}

.hr {
   width: 100%;
   height: 2px;
   border: 0px;
   border-top: 1px solid rgb(255, 255, 255);
   background-color: #dddddd;
}

.pop_up .first header {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 4rem 0;
   padding: 0 8rem;
}

.especial {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.referencias-esp-prp {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   flex-wrap: wrap;
}

.pop_up .first section p {
   text-align: left;
   font-size: 1.25rem;
   font-weight: 400;
   text-indent: 3rem;
   line-height: 1.5rem;
   word-spacing: 0.3rem;
}

.content-container-es-prp {
   display: flex;
   flex-direction: column;
   gap: 4rem;
}

/* Responsividade para tablets */
@media (max-width: 768px) {

   .title-estado-propaganda {
      font-size: 1.5rem;
   }

   .title-estado-propaganda_h2 {
      font-size: 1.3rem;
   }

   .size-img {
      width: 100%;
      height: auto;
   }

   .title-img-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      flex-wrap: wrap;
      align-items: center;
      justify-items: center;
   }

}

@media (max-width: 949px) {

   .title-estado-propaganda {
      font-size: 1.5rem;
   }

   .title-estado-propaganda_h2 {
      font-size: 1.3rem;
   }

   .size-img {
      width: 100%;
      height: auto;
   }

}

/* Responsividade para celulares */
@media (max-width: 480px) {
   .title-estado-propaganda {
      font-size: 1.2rem;
   }

   .title-estado-propaganda_h2 {
      font-size: 1rem;
   }

   .content-container-es-prp {
      padding: 1rem;
   }

   .size-img {
      width: 100%;
      height: auto;
   }

   .referencias-esp-prp {
      display: flex;
      align-items: center;
      justify-items: center;
      font-size: 1rem;
   }

   .referencias-esp-prp p {
      font-size: 0.9rem;
      line-height: 1.1rem;
   }

   .pop_up .first header {
      padding: 0 2.5rem;
   }

   .pop_up .first header h1 {
      font-size: 1rem;
   }

   .pop_up .first header h2 {
      width: 80%;
      font-size: 0.7rem;
   }

   .pop_up .first header h3 {
      font-size: 0.8rem;
   }

   .pop_up .first section {
      padding: 0 2.5rem;
   }

   .pop_up .first section h2 {
      font-size: 1.2rem;
   }

   .pop_up .first section h4 {
      font-size: 0.8rem;
   }

   .pop_up .first section h5 {
      font-size: 0.8rem;
   }

   .pop_up .first header span {
      font-size: 0.8rem;
   }

   .pop_up .first section p {
      font-size: 0.9rem;
      line-height: 1.1rem;
   }

}