@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.third section div {
  padding: 8rem;
}

.third h1,.third h4 {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5rem;
}
.third p {
  font-size: 1.6rem;
  text-align: justify;
  color: white;
}
.third div {
  margin: 0;
  padding: 50px;
  width: 100%;
  height: 100vh;
}

.conteudo {
  display: flex;
  gap: 5rem;
}

.imagem-gp-3 {
  height: 450px;
}

.fundo1 {
  background: url(../midia/grupo_3/fundo1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fundo2 {
  background: url(../midia/grupo_3/fundo2.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fundo3 {
  background: url(../midia/grupo_3/fundo3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fundo4 {
  background: url(../midia/grupo_3/fundo4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fundo5 {
  background: url(../midia/grupo_3/fundo5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacidade {
  background-color: rgba(0, 0, 0, 0.9);
}
.opacidade_cabecalho{
  background-color: rgba(0, 0, 0, 0.67)
}
.referencias p{
  margin-bottom: 1em;
  font-size: 1.3rem;
}

.cabecalho p{
  margin-bottom: 0.5em;
}
