@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.third section div {
  padding: 8rem;
}

.third h1,
.third h4 {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5rem;
}
.third p {
  font-size: 1.3rem;
  text-align: justify;
  color: black;
}
.third div {
  margin: 0;
  width: 100%;
}

.conteudo {
  display: flex;
  gap: 5rem;
}

.imagem-gp-3 {
  height: 450px;
  width: fit-content;
}

.referencias p {
  margin-bottom: 1em;
  font-size: 1.3rem;
}

.cabecalho p {
  margin-bottom: 0.5em;
}

@media (max-width: 1350px) {
  .conteudo {
    flex-direction: column;
    align-items: center;
  }
}
