.forth {
  line-height: 1.5;
  font-size: 20px;
}

#introduction .title {
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin-bottom: 1.7rem;
}

.paragraf {
  display: flex;
  justify-content: center;
  text-align: justify;
}

#introduction .paragraf p {
  text-indent: 4rem;
  width: auto;
}

#introduction .paragraf-2 {
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#introduction .paragraf-2 p {
  width: auto;
}

.content-ul {
  display: flex;
  justify-content: start;
  padding-top: 2rem;
}

.list-ul {
  width: auto;
}

.content-li {
  padding: 0.3rem;
}

.title-three {
  display: flex;
  justify-content: start;
  font-style: italic;
  padding-top: 1.5rem;
}

.title-three h3 {
  width: auto;
}

.title-three h4 {
  width: auto;
  padding-top: 1rem;
  text-align: center;
}

.para-main {
  text-indent: 4rem;
  width: auto;
  padding-top: 2rem;
  text-align: justify;
}

#sociais .title-three h3 {
  display: flex;
  justify-content: center;
}

#referencias .paragraf-text {
  width: auto;
  text-align: justify;
  margin: 0 auto;
  padding: 1rem;
}

.section-space {
  padding: 2rem 8rem 0;
}

.center {
  display: flex;
  justify-content: center;
}
